<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xng-app="pushpath">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pushpath</title>

    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/css/bootstrap/bootstrap.min.css' />
    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/css/bootstrap/sticky-footer-navbar.css' />
    <link rel='stylesheet' href='/css/pushpath.css' />
</head>

<body>

<div id="wrap">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Pushpath</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Dashboard</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
        <%-body -%>
    </div>
</div>

<div id="footer">
    <div class="container">
        <p class="text-muted credit">Code licensed under <a target="_blank" href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a> |  With all the love in the world by <a href="https://twitter.com/mindginative">@mindginative</a> | <a href="https://github.com/pushpath/pushpath-cli/issues">Report a bug</a> | Version 0.1.0</p>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/lib/angular/angular.js"></script>

</body>
</html>
