<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xng-app="pushpath">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pushpath</title>

    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/css/bootstrap/bootstrap.min.css' />
    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/css/bootstrap/sticky-footer-navbar.css' />
    <link rel='stylesheet' href='/css/pushpath.css' />


</head>

<body>

<div id="wrap">
    <!-- Header -->
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-toggle"></span>
                </button>
                <a class="navbar-brand" href="#">Pushpath</a>
            </div>
        </div><!-- /container -->
    </div>
    <!-- /Header -->

    <!-- Begin page content -->
    <div class="container">
        <!-- /main row -->
        <div class="row">
            <!-- Left column -->
            <div class="col-md-3">
                <strong><i class="glyphicon glyphicon-link"></i> Resources</strong>
                <hr>
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-header"></li>
                    <li><a href="/"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a></li>
                    <li><a href="/vagrant"><i class="glyphicon glyphicon-book"></i> Vagrant</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-link"></i> Plugins</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> Reports</a></li>
                    <li><a href="/system"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
                </ul>
            </div> <!-- /col-3 / Left column -->

            <!-- right column -->
            <div class="col-md-9">
                <%-body -%>
            </div> <!-- /right column -->

        </div> <!-- /main row -->
    </div>
</div>

<div id="footer">
    <div class="container" style="padding-top: 20px;">
        <p class="text-muted text-center">
            <span>
            &copy; 2013 - 2014  <a href="https://twitter.com/mindginative">@mindginative</a> /
            <a target="_blank" href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a> /
            <a href="https://github.com/pushpath/pushpath-cli/issues">Report a bug</a> /
            </span>
            Version 0.2.0
        </p>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/lib/angular/angular.js"></script>

</body>
</html>
