<% layout('../layouts/default.ejs') -%>

<strong><i class="glyphicon glyphicon-dashboard"></i> Dashboard</strong>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            <h5><%=status%></h5>
        </div>
    </div><!-- /col-md-12 -->
</div><!-- /row -->

<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="text-muted">Virtual Machine</span></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form role="form" action="/vagrant/command" method="get">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select class="form-control" name="action">
                                    <option value="start">Start</option>
                                    <option value="stop">Stop</option>
                                    <option value="provision">Provision</option>
                                    <option value="suspend">Suspend</option>
                                    <option value="destroy">Destroy</option>
                                </select>

                                <p class="help-block">Select a VM action to perform</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Go</button>
                            </div>
                        </div>
                    </form>
                </div> <!-- /col-md-12 -->
            </div> <!-- /row -->
        </div> <!-- /panel-body -->
    </div> <!-- /panel panel-default -->
</div> <!-- /col-md-6 -->
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="text-muted">Project Information</span></div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-4 control-label">Name</label>
                    <div class="col-sm-8"><%=config.name%></div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 control-label">Stack</label>
                    <div class="col-sm-8">LAMP</div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 control-label">OS</label>
                    <div class="col-sm-8">Centos 6.5 64bit</div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 control-label">Created</label>
                    <div class="col-sm-8"><%=moment(config.date_created).fromNow()%></div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 control-label">Updated</label>
                    <div class="col-sm-8"><%=moment(config.date_updated).fromNow()%></div>
                </div>
            </div> <!-- /col-md-12 -->
        </div> <!-- /panel-body -->
    </div> <!-- /panel panel-default -->
</div> <!-- /col-md-6 -->
</div><!--/col-span-9-->