<% layout('../layouts/default.ejs') -%>

<!-- dashboard -->
<div class="row">
    <div class="col-xs-6 col-md-4">
        <div class="page-header">
            <h3>Quick Info</h3>
        </div>

        <dl class="dl-horizontal">
            <dt>VM Status</dt>
            <dd><span class="label label-info"><%=status%></span></dd>
            <dt>Command</dt>
            <dd>
                <form action="/vagrant/command" method="get">
                <select name="action">
                    <option value="start">Start</option>
                    <option value="start">Stop</option>
                    <option value="start">Suspend</option>
                    <option value="start">Provision</option>
                    <option value="start">Destroy</option>
                </select>
                <button type="submit" class="btn btn-success btn-xs">Go</button>
                </form>
            </dd>
        </dl>

        <h3><small>Project</small></h3>
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd><%=config.name%></dd>

            <dt>Created</dt>
            <dd><%=moment(config.date_created).fromNow()%></dd>

            <dt>Last Updated</dt>
            <dd><%=moment(config.date_updated).fromNow()%></dd>
        </dl>

        <h3><small>Disk</small></h3>
        <dl class="dl-horizontal">
            <dt>Size</dt>
            <dd>50G</dd>

            <dt>Usage</dt>
            <dd>15G</dd>
        </dl>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="page-header">
            <h3>Admin Area</h3>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div style="max-width: 140px; margin: 0 auto 10px;" class="well">
                    <a href="/system">
                        System
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div style="max-width: 140px; margin: 0 auto 10px;" class="well">
                    <a href="/vagrant">
                        Vagrant
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /dashboard -->