<% layout('../layouts/default.ejs') -%>

<strong><i class="glyphicon glyphicon-briefcase"></i> Add Project</strong>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <form role="form" action="/save" method="post" class="form-horizontal">
                <fieldset>
                    <legend><h5 class="text-muted">Project</h5></legend>
                    <div class="form-group">
                        <label for="vagrant-config-vm-box" class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="vagrant-config-vm-box" placeholder="Base" value="" name="config_name">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend><h5 class="text-muted">VM</h5></legend>
                    <div class="form-group">
                        <label for="vagrant-config-vm-box" class="col-sm-4 control-label">VM Box</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="vagrant-config-vm-box" placeholder="Base" value="" name="config_vm_box">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vagrant-config-vm-box-url" class="col-sm-4 control-label">VM Box Url</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="vagrant-config-vm-box-url" placeholder="" value="" name="config_vm_box_url">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend><h5 class="text-muted">Network</h5></legend>
                    <div class="form-group">
                        <label for="vagrant-network-type" class="col-sm-4 control-label">Network Type</label>
                        <div class="col-sm-6">
                            <select class="form-control" name="network_type">
                                <option value="public_network"  selected>Public</option>
                                <option value="private_network">Private</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vagrant-network-ip" class="col-sm-4 control-label">Network IP</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="vagrant-network-ip" placeholder="" value="" name="network_ip">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vagrant-network-hostname" class="col-sm-4 control-label">Network Hostname</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="vagrant-network-hostname" placeholder="" value="" name="network_hostname">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend><h5 class="text-muted">Provider</h5></legend>
                    <div class="form-group">
                        <label for="vagrant-provider-type" class="col-sm-4 control-label">VM Provider Type</label>
                        <div class="col-sm-6">
                            <select class="form-control" name="provider_type">
                                <option value="virtualbox" selected>VirtualBox</option>
                                <option value="vmware">VMWare</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vagrant-provider-name" class="col-sm-4 control-label">VM Provider Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="vagrant-provider-name" placeholder="" value="" name="provider_name">
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <button type="submit" class="btn btn-primary">Save</button> &nbsp;
                        <a href="/">Cancel</a>
                    </div>
                </div>
            </form>

        </div>
    </div><!-- /col-md-12 -->
</div><!-- /row -->